<div id="main">
                <div class="section bg-gray pt-10 pb-10">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-5">
                                <h2 class="fz-48 mb-3">HELI CREATIVE<br /><b>DESIGN</b> AGENCY</h2>
                                <p>A new HTML template starts a new age of web development. Turn your dream of building a perfect website into actuality.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section section-cover section-bg-51 pt-10 pb-10">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-5"></div>
                            <div class="col-lg-7">
                                <h2 class="section-title fz-48 pt-6 pb-5"><b>CREATIVE</b>STUDIO</h2>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="feature-item style-2 mb-7">
                                            <div class="feature-icon">
                                                <div class="feature-icon-inner">
                                                    <i class="pe-7s-phone"></i>
                                                </div>
                                            </div>
                                            <h4>RESPONSIVE</h4>
                                            <div class="desc">
                                                Heli is coded to be highly responsive. When customers visit your site by small mobile phone or large-screen desktop, they see no difference.
                                            </div>
                                        </div>
                                        <div class="feature-item style-2 mb-7">
                                            <div class="feature-icon">
                                                <div class="feature-icon-inner">
                                                    <i class="pe-7s-diamond"></i>
                                                </div>
                                            </div>
                                            <h4>MINIMAL DESIGN</h4>
                                            <div class="desc">
                                                Designed with minimal inspiration, Heli has much space for you to display your content. Simplicity is the best and this rule works for Heli.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="feature-item style-2 mb-7">
                                            <div class="feature-icon">
                                                <div class="feature-icon-inner">
                                                    <i class="pe-7s-world"></i>
                                                </div>
                                            </div>
                                            <h4>SEO OPTIMIZED</h4>
                                            <div class="desc">
                                                Getting traffic from the “free,” “organic,” “editorial” or “natural” search results on search engines with seo optimization feature of Heli.
                                            </div>
                                        </div>
                                        <div class="feature-item style-2 mb-7">
                                            <div class="feature-icon">
                                                <div class="feature-icon-inner">
                                                    <i class="pe-7s-flag"></i>
                                                </div>
                                            </div>
                                            <h4>RETINA READY</h4>
                                            <div class="desc">
                                                With custom fonts, icon fonts, and the latest CSS for other stylistic elements, Heli is optimized for high resolution displays.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section pt-10 pb-10">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-4">
                                <h2 class="fz-32 mb-2"><b>WHO</b> WE ARE</h2>
                                <p>We are dedicated staffs who work efficiently and professionally to bring you such a blazing and friendly HTML. Our long – term working experience&nbsp;effectively brings us&nbsp;achievement.</p>
                                <div class="mb-2 d-block d-md-block d-lg-none"></div>
                            </div>
                            <div class="col-sm-4">
                                <p>Heli is a comprehensive HTML template. It comes with a lot of benefits, those make your work easier than ever. This theme is worth way more than its price, you will never feel disappointed once you use it as a tool to develop your own website.</p>
                                <div class="mb-2 d-block d-md-block d-lg-none"></div>
                            </div>
                            <div class="col-sm-4">
                                <h2 class="section-title fz-24 fw-normal mb-1"><b>WHY </b> CHOOSE US</h2>
                                <ul class="heli-listing">
                                    <li>Selective reloading</li>
                                    <li>User friendliness</li>
                                    <li>Easy&nbsp;live preview edit</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section pt-12 pb-9 bg-gray">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6">
                                <h2 class="fz-32 mb-2"><b>WHAT</b> WE DO</h2>
                                <p>We commit quality and design of Heli to you. You no longer have to bother which HTML template should be right for your website, Heli perfectly fits yours.&nbsp;Simplicity and elegance are what you see in Heli.</p>
                                <p>Using two basic colors black and white, Heli design is not boring but very different and high level.</p>
                                <div class="mb-5 d-block d-md-block d-lg-none"></div>
                            </div>
                            <div class="col-lg-6">
                                <div class="progress-wraper group-progressbar">
                                    <div class="block-progressbar wow fadeInUp">
                                        <i class="pe-7s-tools"></i>
                                        <div class="content">
                                            <h3 class="progress-title">Development</h3>
                                            <div class="progresswrap">
                                                <div role="progressbar" data-transitiongoal="90" class="progressbar"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="block-progressbar wow fadeInUp">
                                        <i class="pe-7s-note2"></i>
                                        <div class="content">
                                            <h3 class="progress-title">Typography</h3>
                                            <div class="progresswrap">
                                                <div role="progressbar" data-transitiongoal="80" class="progressbar"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="block-progressbar wow fadeInUp">
                                        <i class="pe-7s-diamond"></i>
                                        <div class="content">
                                            <h3 class="progress-title">Illustration</h3>
                                            <div class="progresswrap">
                                                <div role="progressbar" data-transitiongoal="70" class="progressbar"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="block-progressbar wow fadeInUp">
                                        <i class="pe-7s-plugin"></i>
                                        <div class="content">
                                            <h3 class="progress-title">Designing</h3>
                                            <div class="progresswrap">
                                                <div role="progressbar" data-transitiongoal="95" class="progressbar"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section pt-10">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">
                                <h2 class="section-title mb-3">OUR <b>AMAZING</b> TEAM</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-12">
                                <div id="rev_slider_11" class="rev_slider fullscreenbanner" style="display:none;" data-version="5.4.1">
                                    <ul>
                                        <!-- SLIDE  -->
                                        <li data-index="rs-8" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="default" data-rotate="0" data-saveperformance="off" data-title="Slide">

                                            <!-- MAIN IMAGE -->
                                            <img src="images/slider/transparent.png" alt="" title="Business" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                                            
                                            <!-- LAYERS -->

                                            <!-- LAYER NR. 1 -->
                                            <div class="tp-caption tp-resizeme" data-x="245" data-y="bottom" data-voffset="-19" data-width="['none','none','none','none']" data-height="['none','none','none','none']" data-type="image" data-responsive_offset="on" data-frames='[{"from":"opacity:0;","speed":300,"to":"o:1;","delay":500,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]' data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 5;">
                                                <img src="images/slider/slider_300x513.jpg" alt="" data-ww="360px" data-hh="513px" width="360" height="513" /> 
                                            </div>
                                            
                                            <!-- LAYER NR. 2 -->
                                            <div class="tp-caption tp-resizeme" data-x="right" data-hoffset="297" data-y="bottom" data-voffset="-10" data-width="['none','none','none','none']" data-height="['none','none','none','none']" data-type="image" data-responsive_offset="on" data-frames='[{"from":"opacity:0;","speed":300,"to":"o:1;","delay":500,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]' data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 6;">
                                                <img src="images/slider/slider_300x513.jpg" alt="" data-ww="297px" data-hh="515px" width="297" height="515" /> 
                                            </div>
                                            
                                            <!-- LAYER NR. 3 -->
                                            <div class="tp-caption tp-resizeme" data-x="center" data-hoffset="-19" data-y="bottom" data-voffset="-24" data-width="['none','none','none','none']" data-height="['none','none','none','none']" data-type="image" data-responsive_offset="on" data-frames='[{"from":"opacity:0;","speed":300,"to":"o:1;","delay":500,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]' data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 7;">
                                                <img src="images/slider/slider_300x513.jpg" alt="" data-ww="300px" data-hh="513px" width="300" height="513" />
                                            </div>
                                            
                                            <!-- LAYER NR. 4 -->
                                            <div class="tp-caption tp-shape tp-shapewrapper tp-resizeme" data-x="center" data-hoffset="" data-y="40" data-width="['329']" data-height="['140']" data-type="shape" data-responsive_offset="on" data-frames='[{"from":"opacity:0;","speed":300,"to":"o:1;","delay":500,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]' data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 8;background-color:rgba(34,34,34,1);"> </div>

                                            <!-- LAYER NR. 5 -->
                                            <div class="tp-caption Heli-Text-02 text-center tp-resizeme" data-x="center" data-hoffset="9" data-y="91" data-width="['166']" data-height="['auto']" data-type="text" data-responsive_offset="on" data-frames='[{"from":"opacity:0;","speed":300,"to":"o:1;","delay":500,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]' data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 9;">OLIVIA JULY </div>

                                            <!-- LAYER NR. 6 -->
                                            <div class="tp-caption Heli-Text-02 text-center tp-resizeme" data-x="center" data-hoffset="37" data-y="119" data-width="['141']" data-height="['23']" data-type="text" data-responsive_offset="on" data-frames='[{"from":"opacity:0;","speed":300,"to":"o:1;","delay":500,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]' data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 10;">
                                                <div class="social-icons">
                                                    <a href="#" class="social white"><i class="fa fa-facebook"></i></a>
                                                    <a href="#" class="social white"><i class="fa fa-twitter"></i></a>
                                                    <a href="#" class="social white"><i class="fa fa-pinterest"></i></a>
                                                </div>
                                            </div>

                                            <!-- LAYER NR. 7 -->
                                            <div class="tp-caption tp-shape tp-shapewrapper tp-resizeme" data-x="center" data-hoffset="-466" data-y="145" data-width="['329']" data-height="['140']" data-type="shape" data-responsive_offset="on" data-frames='[{"from":"opacity:0;","speed":300,"to":"o:1;","delay":500,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]' data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 11;background-color:rgba(34,34,34,1);"> </div>

                                            <!-- LAYER NR. 8 -->
                                            <div class="tp-caption tp-shape tp-shapewrapper tp-resizeme" data-x="center" data-hoffset="463" data-y="144" data-width="['329']" data-height="['140']" data-type="shape" data-responsive_offset="on" data-frames='[{"from":"opacity:0;","speed":300,"to":"o:1;","delay":500,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]' data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 12;background-color:rgba(34,34,34,1);"> </div>

                                            <!-- LAYER NR. 9 -->
                                            <div class="tp-caption Fashion-BigDisplay text-center tp-resizeme" data-x="124" data-y="172" data-width="['89']" data-height="['23']" data-type="text" data-responsive_offset="on" data-frames='[{"from":"opacity:0;","speed":300,"to":"o:1;","delay":500,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]' data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 13;">Director </div>

                                            <!-- LAYER NR. 10 -->
                                            <div class="tp-caption Heli-Text-02 text-center tp-resizeme" data-x="center" data-hoffset="-467" data-y="207" data-width="['166']" data-height="['auto']" data-type="text" data-responsive_offset="on" data-frames='[{"from":"opacity:0;","speed":300,"to":"o:1;","delay":500,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]' data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 14;">OWEN ASHER </div>

                                            <!-- LAYER NR. 11 -->
                                            <div class="tp-caption Heli-Text-02 text-center tp-resizeme" data-x="center" data-hoffset="-419" data-y="236" data-width="['141']" data-height="['23']" data-type="text" data-responsive_offset="on" data-frames='[{"from":"opacity:0;","speed":300,"to":"o:1;","delay":500,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]' data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 15;">
                                                <div class="social-icons">
                                                    <a href="#" class="social white"><i class="fa fa-facebook"></i></a>
                                                    <a href="#" class="social white"><i class="fa fa-twitter"></i></a>
                                                    <a href="#" class="social white"><i class="fa fa-pinterest"></i></a>
                                                </div>
                                            </div>

                                            <!-- LAYER NR. 12 -->
                                            <div class="tp-caption Fashion-BigDisplay text-center tp-resizeme" data-x="1042" data-y="175" data-width="['114']" data-height="['24']" data-type="text" data-responsive_offset="on" data-frames='[{"from":"opacity:0;","speed":300,"to":"o:1;","delay":500,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]' data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 16;">Developer </div>

                                            <!-- LAYER NR. 13 -->
                                            <div class="tp-caption Heli-Text-02 text-center tp-resizeme" data-x="center" data-hoffset="471" data-y="207" data-width="['215']" data-height="['38']" data-type="text" data-responsive_offset="on" data-frames='[{"from":"opacity:0;","speed":300,"to":"o:1;","delay":500,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]' data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 17;">JOHNNY WALKER </div>

                                            <!-- LAYER NR. 14 -->
                                            <div class="tp-caption Heli-Text-02 text-center tp-resizeme" data-x="center" data-hoffset="499" data-y="230" data-width="['141']" data-height="['23']" data-type="text" data-responsive_offset="on" data-frames='[{"from":"opacity:0;","speed":300,"to":"o:1;","delay":500,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]' data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 18;">
                                                <div class="social-icons">
                                                    <a href="#" class="social white"><i class="fa fa-facebook"></i></a>
                                                    <a href="#" class="social white"><i class="fa fa-twitter"></i></a>
                                                    <a href="#" class="social white"><i class="fa fa-pinterest"></i></a>
                                                </div>
                                            </div>

                                            <!-- LAYER NR. 15 -->
                                            <div class="tp-caption Fashion-BigDisplay text-center tp-resizeme" data-x="center" data-hoffset="" data-y="61" data-width="['89']" data-height="['23']" data-type="text" data-responsive_offset="on" data-frames='[{"from":"opacity:0;","speed":300,"to":"o:1;","delay":500,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]' data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 19;">Designer </div>

                                            <!-- LAYER NR. 16 -->
                                            <div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme" data-x="1098" data-y="283" data-width="['1']" data-height="['146']" data-type="shape" data-responsive_offset="on" data-frames='[{"from":"opacity:0;","speed":300,"to":"o:1;","delay":500,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]' data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 20;background-color:rgba(221,221,221,1);"> </div>

                                            <!-- LAYER NR. 17 -->
                                            <div class="tp-caption tp-shape tp-shapewrapper tp-resizeme" data-x="157" data-y="286" data-width="['1']" data-height="['146']" data-type="shape" data-responsive_offset="on" data-frames='[{"from":"opacity:0;","speed":300,"to":"o:1;","delay":500,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]' data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 21;background-color:rgba(221,221,221,1);"> </div>

                                            <!-- LAYER NR. 18 -->
                                            <div class="tp-caption tp-shape tp-shapewrapper tp-resizeme" data-x="157" data-y="433" data-width="['80']" data-height="['1']" data-type="shape" data-responsive_offset="on" data-frames='[{"from":"opacity:0;","speed":300,"to":"o:1;","delay":500,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]' data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 22;background-color:rgba(221,221,221,1);"> </div>

                                            <!-- LAYER NR. 19 -->
                                            <div class="tp-caption tp-shape tp-shapewrapper tp-resizeme" data-x="1018" data-y="427" data-width="['80']" data-height="['1']" data-type="shape" data-responsive_offset="on" data-frames='[{"from":"opacity:0;","speed":300,"to":"o:1;","delay":500,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]' data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 23;background-color:rgba(221,221,221,1);"> </div>

                                            <!-- LAYER NR. 20 -->
                                            <div class="tp-caption tp-shape tp-shapewrapper tp-resizeme" data-x="643" data-y="180" data-width="['1']" data-height="['50']" data-type="shape" data-responsive_offset="on" data-frames='[{"from":"opacity:0;","speed":300,"to":"o:1;","delay":500,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]' data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 24;background-color:rgba(221,221,221,1);"> </div>
                                        </li>
                                    </ul>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section section-cover section-bg-52 pt-10 pb-10">
                    <div class="bg-overlay-white"></div>
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12 col-md-6">
                                <h2 class="section-title pt-3 mb-2"><b>WHAT</b>PEOPLESAY</h2>
                                <p>
                                    Heli has become the best selling theme recently. Just read our actual customer reviews to understand the reason.
                                </p>
                            </div>
                            <div class="col-sm-12 col-lg-6 col-md-6 offset-xs-1 col-xs-10">
                                <div class="mb-5 d-block d-md-block d-lg-none"></div>
                                <div class="testimonial-carousel dots-carousel">
                                    <div class="item">
                                        <div class="quote bg-dark">
                                            You guys are legendary! You guys are great and having amazing support &amp; service. I couldn’t ask for any better. Thank you!
                                        </div>
                                        <img src="images/avatar/avatar_80x80.jpg" alt="" />
                                        <div class="author">
                                            <span class="dark">Selena Johansson</span>
                                            <span class="dark">ACC Limited Company.</span>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="quote bg-dark">
                                            A well designed, easy to use one with a good support. I highly recommend you consider Heli if you are going to make your website professional looking.
                                        </div>
                                        <img src="images/avatar/avatar_80x80.jpg" alt="" />
                                        <div class="author">
                                            <span class="dark">Lily P.</span>
                                            <span class="dark">RTB Limited Company.</span>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="quote bg-dark">
                                            Great theme with a lots of customization possible. Customer service is fast, nice, and very competent. Thank you for this great product.
                                        </div>
                                        <img src="images/avatar/avatar_80x80.jpg" alt="" />
                                        <div class="author">
                                            <span class="dark">Paolo</span>
                                            <span class="dark">NewTech Co.</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section pt-4 pb-4">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="client-carousel drag-carousel" data-auto-play="true" data-desktop="6" data-laptop="4" data-tablet="3" data-mobile="1">
                                    <div class="item text-center">
                                        <img src="images/client/client_150x71.jpg" alt="" />
                                        <div class="overlay-wrapper">
                                            <div class="overlay"></div>
                                            <div class="text">
                                                <div class="text-inner">Client 01</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item text-center">
                                        <img src="images/client/client_150x71.jpg" alt="" />
                                        <div class="overlay-wrapper">
                                            <div class="overlay"></div>
                                            <div class="text">
                                                <div class="text-inner">Client 02</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item text-center">
                                        <img src="images/client/client_150x71.jpg" alt="" />
                                        <div class="overlay-wrapper">
                                            <div class="overlay"></div>
                                            <div class="text">
                                                <div class="text-inner">Client 03</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item text-center">
                                        <img src="images/client/client_150x71.jpg" alt="" />
                                        <div class="overlay-wrapper">
                                            <div class="overlay"></div>
                                            <div class="text">
                                                <div class="text-inner">Client 04</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item text-center">
                                        <img src="images/client/client_150x71.jpg" alt="" />
                                        <div class="overlay-wrapper">
                                            <div class="overlay"></div>
                                            <div class="text">
                                                <div class="text-inner">Client 05</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item text-center">
                                        <img src="images/client/client_150x71.jpg" alt="" />
                                        <div class="overlay-wrapper">
                                            <div class="overlay"></div>
                                            <div class="text">
                                                <div class="text-inner">Client 06</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item text-center">
                                        <img src="images/client/client_150x71.jpg" alt="" />
                                        <div class="overlay-wrapper">
                                            <div class="overlay"></div>
                                            <div class="text">
                                                <div class="text-inner">Client 07</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>