<div id="main">
				<div class="section section-cover section-bg-54 pt-9 pb-6">
					<div class="container">
						<div class="row">
							<div class="col-lg-5">
								<div class="breadcrumb">
									<ul class="bread_crumb">
										<li><a href="./">Home</a></li>
										<li>Blog</li>
									</ul>
								</div>
								<h2 class="fz-32 mb-3 white"><b>OUR</b> BLOG</h2>
							</div>
						</div>
					</div>
				</div>
				<div class="section mt-8">
					<div class="container">
						<div class="row">
							<div class="col-lg-9">
								<div class="blog-list">
									<div class="blog-item style-3">
										<div class="post-thumb">
											<div class="dates">
												<div>
													<span class="date">26</span>
													<span class="month">Feb</span>
													<span class="year">2016</span>
												</div>
											</div>
											<img src="images/blog/blog_825x438.jpg" alt="" />
										</div>
										<div class="entry-meta">
											<div class="container row">
												<div class="info col-lg-10 col-md-9">
													<span class="author vcard"><i class="fa fa-user"></i> Posted by admin</span>
													<span class="categories-links"><i class="fa fa-folder"></i> In <a href="#">Blog</a></span>
													<span class="comments-counts"><i class="fa fa-comment"></i>0 comment</span>
												</div>
												<div class="share col-lg-2 col-md-3">
													<span><a target="_blank" href="#"><i class="fa fa-facebook"></i></a></span>
													<span><a target="_blank" href="#"><i class="fa fa-twitter"></i></a></span>
													<span><a target="_blank" href="#"><i class="fa fa-google-plus"></i></a></span>
												</div>
											</div>
										</div><!-- .entry-meta -->
										<div class="entry-header">
											<h2 class="entry-title"><a href="blog-detail.html">Beautiful Typography</a></h2>
										</div>
										<div class="entry-content">
											<p>Typography, being the art of type in a design, is undoubtedly one of the most essential elements of good web design.</p>
										</div>
										<!-- .entry-content -->
										<a class="btn-shop" href="blog-detail.html"><span>Continue Reading</span></a>
									</div>
									<div class="blog-item style-3">
										<div class="post-thumb">
											<div class="dates">
												<div>
													<span class="date">26</span>
													<span class="month">Feb</span>
													<span class="year">2016</span>
												</div>
											</div>
											<img src="images/blog/blog_825x438.jpg" alt="" />
										</div>
										<div class="entry-meta">
											<div class="container row">
												<div class="info col-lg-10 col-md-9">
													<span class="author vcard"><i class="fa fa-user"></i> Posted by admin</span>
													<span class="categories-links"><i class="fa fa-folder"></i> In <a href="#">Blog</a></span>
													<span class="comments-counts"><i class="fa fa-comment"></i>0 comment</span>
												</div>
												<div class="share col-lg-2 col-md-3">
													<span><a target="_blank" href="#"><i class="fa fa-facebook"></i></a></span>
													<span><a target="_blank" href="#"><i class="fa fa-twitter"></i></a></span>
													<span><a target="_blank" href="#"><i class="fa fa-google-plus"></i></a></span>
												</div>
											</div>
										</div><!-- .entry-meta -->
										<div class="entry-header">
											<h2 class="entry-title"><a href="blog-detail.html">Responsive Design Process</a></h2>
										</div>
										<div class="entry-content">
											<p>You cannot plan for and design a responsive, content-focused, mobile-first website the same way.</p>
										</div>
										<!-- .entry-content -->
										<a class="btn-shop" href="blog-detail.html"><span>Continue Reading</span></a>
									</div>
									<div class="blog-item style-3">
										<div class="post-thumb">
											<div class="dates">
												<div>
													<span class="date">26</span>
													<span class="month">Feb</span>
													<span class="year">2016</span>
												</div>
											</div>
											<img src="images/blog/blog_825x438.jpg" alt="" />
										</div>
										<div class="entry-meta">
											<div class="container row">
												<div class="info col-lg-10 col-md-9">
													<span class="author vcard"><i class="fa fa-user"></i> Posted by admin</span>
													<span class="categories-links"><i class="fa fa-folder"></i> In <a href="#">Blog</a></span>
													<span class="comments-counts"><i class="fa fa-comment"></i>0 comment</span>
												</div>
												<div class="share col-lg-2 col-md-3">
													<span><a target="_blank" href="#"><i class="fa fa-facebook"></i></a></span>
													<span><a target="_blank" href="#"><i class="fa fa-twitter"></i></a></span>
													<span><a target="_blank" href="#"><i class="fa fa-google-plus"></i></a></span>
												</div>
											</div>
										</div><!-- .entry-meta -->
										<div class="entry-header">
											<h2 class="entry-title"><a href="blog-detail.html">A Little Journey</a></h2>
										</div>
										<div class="entry-content">
											<p>Far far away, on the island of Moskenesøya in the Lofoten archipelago, above the Arctic Circle, there lives Reine – the most beautiful village in Norway. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it with.</p>
										</div>
										<!-- .entry-content -->
										<a class="btn-shop" href="blog-detail.html"><span>Continue Reading</span></a>
									</div>
									<div class="blog-item style-3">
										<div class="post-thumb">
											<div class="dates">
												<div>
													<span class="date">26</span>
													<span class="month">Feb</span>
													<span class="year">2016</span>
												</div>
											</div>
											<img src="images/blog/blog_825x438.jpg" alt="" />
										</div>
										<div class="entry-meta">
											<div class="container row">
												<div class="info col-lg-10 col-md-9">
													<span class="author vcard"><i class="fa fa-user"></i> Posted by admin</span>
													<span class="categories-links"><i class="fa fa-folder"></i> In <a href="#">Blog</a></span>
													<span class="comments-counts"><i class="fa fa-comment"></i>0 comment</span>
												</div>
												<div class="share col-lg-2 col-md-3">
													<span><a target="_blank" href="#"><i class="fa fa-facebook"></i></a></span>
													<span><a target="_blank" href="#"><i class="fa fa-twitter"></i></a></span>
													<span><a target="_blank" href="#"><i class="fa fa-google-plus"></i></a></span>
												</div>
											</div>
										</div><!-- .entry-meta -->
										<div class="entry-header">
											<h2 class="entry-title"><a href="blog-detail.html">Powerful Workflow Tips</a></h2>
										</div>
										<div class="entry-content">
											<p>Designing and developing can be time-consuming, especially when the project involves a new challenge, putting the team or freelancer into unknown territory. Moreover, time is a key factor in productivity. Working efficiently enables us to deliver better value at a competitive price. However, some steps can be repeated for every project. These are steps we.</p>
										</div>
										<!-- .entry-content -->
										<a class="btn-shop" href="blog-detail.html"><span>Continue Reading</span></a>
									</div>
								</div>
								<div class="pagination text-center">
									<a class="prev page-numbers" href="#">← Previous</a>
									<a class="page-numbers" href="#">1</a>
									<span class="page-numbers current">2</span>
									<a class="page-numbers" href="#">3</a>
									<a class="next page-numbers" href="#">Next →</a>
								</div>
							</div>
							<div class="col-lg-3">
								<div class="sidebar">
									<div class="widget widget-recent-entries">
										<h3 class="widget-title">Recent Posts</h3>
										<ul>
											<li>
												<a href="#">Beautiful Typography</a>
												<span class="post-date">February 26, 2018</span>
											</li>
											<li>
												<a href="#">Responsive Design Process</a>
												<span class="post-date">February 26, 2018</span>
											</li>
											<li>
												<a href="#">A Little Journey</a>
												<span class="post-date">February 26, 2018</span>
											</li>
											<li>
												<a href="#">Powerful Workflow Tips</a>
												<span class="post-date">February 26, 2018</span>
											</li>
											<li>
												<a href="#">Evaluate Your Product</a>
												<span class="post-date">February 26, 2018</span>
											</li>
										</ul>
									</div>
									<div class="widget widget-recent-comments">
										<h3 class="widget-title">Recent Comments</h3>
										<ul>
											<li><span class="comment-author-link"><a href="#" class="url">Willis Earnhart</a></span> on <a href="#">Stages of the startup lifecycle</a></li>
											<li><span class="comment-author-link">Mark</span> on <a href="#">Stages of the startup lifecycle</a></li>
											<li><span class="comment-author-link">Admin</span> on <a href="#">Stages of the startup lifecycle</a></li>
											<li><span class="comment-author-link">Meg</span> on <a href="#">Stages of the startup lifecycle</a></li>
											<li><span class="comment-author-link"><a href="#" class="url">HTML</a></span> on <a href="#">Hello world</a></li>
										</ul>
									</div>
									<div class="widget widget-archive">
										<h3 class="widget-title">Archives</h3>
										<ul>
											<li><a href="#">February 2018</a></li>
											<li><a href="#">September 2018</a></li>
										</ul>
									</div>
									<div class="widget widget-tag-cloud">
										<h3 class="widget-title">Tags</h3>
										<div class="tagcloud">
											<a href="#">Inspiration</a>
											<a href="#">News</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>