<div id="main">
				<div class="section section-coming-soon">
					<div class="container">
						<div class="row">
							<div class="col-sm-12">
								<div class="text-center">
									<h2 class="section-title fz-50 fz-30-xs ls-16 mb-4"><b>COMING</b>SOON</h2>
									<p>
										Something awesome is in the work. You can subscribe us to get noticed when
										<br />our website is ready. Thank you for your patience!
									</p>
									<div class="countdown-wrap mt-4">
										<div class="countdown-content">
											<div class="pl-clock countdown-bar" data-time="2021/10/10"></div>
										</div>
									</div>
									<div class="comingsoon-subscribe mt-6 mb-10">
										<div class="mb-2">
											<input type="email" name="EMAIL" placeholder="Your email address" />
										</div>
										<div class="mb-2">
											<input type="submit" value="subscribe" />
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>