<div id="main">
				<div class="section section-cover section-bg-54 pt-9 pb-6 mb-6">
					<div class="container">
						<div class="row">
							<div class="col-lg-5">
								<div class="breadcrumb">
									<ul class="bread_crumb">
										<li><a href="./">Home</a></li>
										<li>Contact Us 2</li>
									</ul>
								</div>
								<h2 class="fz-32 mb-3 white">CONTACT US</h2>
							</div>
						</div>
					</div>
				</div>
				<div class="section pb-6">
					<div class="container">
						<div class="row">
							<div class="col-sm-4">
								<i class="pe-7s-phone fz-30"></i>&nbsp;&nbsp;
								<span class="fz-24 pr-3">(61 2) 9251 5600</span>
							</div>
							<div class="col-sm-4">
								<i class="pe-7s-map-2 fz-30"></i>&nbsp;&nbsp;
								<span class="fz-24 pr-3">No.200 Joseph, Canada</span>
							</div>
							<div class="col-sm-4">
								<i class="pe-7s-mail-open-file fz-30"></i>&nbsp;&nbsp;
								<span class="fz-24 pr-3"><a href="mailto:email@domain.com">email@domain.com</a></span>
							</div>
						</div>
					</div>
				</div>
				<div class="section bg-gray">
					<div class="container-fluid">
						<div class="row">
							<div class="col-lg-6 p-0">
								<div id="map" data-marker-image="images/map-marker.png"></div>
							</div>
							<div class="col-lg-6">
								<div class="row">
									<div class="col-lg-8 col-md-11 col-12 pt-7 pl-7 pb-7">
										<h2 class="section-title fz-32 mb-3"><b>CONTACT</b> US</h2>
										<form>
											<div class="row">
												<div class="col-md-6">
													<input type="text" name="your-name" value="" size="40" class="form-control" placeholder="Your name here">
												</div>
												<div class="col-md-6">
													<input type="email" name="your-email" value="" size="40" class="form-control" placeholder="Your email">
												</div>
												<div class="col-md-12">
													<input type="text" name="your-subject" value="" size="40" class="form-control" placeholder="Subject">
												</div>
												<div class="col-md-12">
													<textarea name="your-message" cols="40" rows="10" class="form-control" placeholder="Your message"></textarea>
												</div>
												<div class="col-md-12">
													<input type="submit" value="Send Message" class="form-submit">
												</div>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>