<div id="main">
	<div class="section bg-gray-2 pt-10">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div class="text-center">
						<img src="images/image_223x318.jpg" alt="" />
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="section pt-3 pb-3">
		<div class="row">
			<div class="col-sm-12">
				<div class="text-center">
					<h1 class="fz-48"><b>PAGE</b> NOT FOUND</h1>
					<p>Sorry, the page you requested could not be found.</p>
					<h2 class="fz-120 fw-900">404</h2>
				</div>
			</div>
		</div>
	</div>
</div>